@charset "UTF-8";

font-face {
    font-family: 'Passion';
    src: url(../fontes/passion-one/PassionOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
    font-family: 'Passion', Arial, Helvetica, sans-serif;
}

header {
    padding-top: 50px;
    height: 100px;
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-variant: small-caps;
}

header > p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.463);
    color: white;
}

section.imagem > p {
    padding: 10px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.263);
}

footer {
    padding: 10px;
    text-align: center;
    background-color: black;
}

footer > p {
    color: white;
}